# Add code field to each stock data & Trimming IHSG to LQ45

In [1]:
import pandas as pd
import os
import shutil
import tvDatafeed as tvd
# from dotenv import load_dotenv
from pathlib import Path

In [2]:
# List of LQ45 stock codes
lq45_codes = ["AALI", "ADHI", "ADRO", "ADMR", "AKRA", "ANTM", "ASII", "ASRI", "BBCA",
               "BBNI", "BBRI", "BBTN", "BMRI", "BMTR", "BSDE", "CPIN", "GGRM", "HMSP",
               "ICBP", "INCO", "INDF", "INTP", "JSMR", "KLBF", "LPKR", "LPPF", "LSIP",
               "MNCN", "MPPA", "MYRX", "PGAS", "PTBA", "PTPP", "PWON", "SCMA", "SILO",
               "SMGR", "SMRA", "SRIL", "SSMS", "TBIG", "TLKM", "UNTR", "UNVR", "WSKT"]

In [ ]:
# Directory where your CSV files are stored
lq45_path = "../datasets/LQ45"

# Loop through each stock code
for code in lq45_codes:
    file_path = os.path.join(lq45_path, f"{code}.csv")
    
    if os.path.exists(lq45_path):
        # Check if the file exists
        if os.path.exists(file_path):
            # Read CSV file
            df = pd.read_csv(file_path)
            
            # Add "Code" column
            df["Code"] = code
            
            # Copy the file to the LQ45 folder
            shutil.copy(file_path, os.path.join(lq45_path, f"{code}.csv"))

            # Rewrite CSV
            df.to_csv(file_path, index=False)
        else:
            print(f"{code}.csv not found.")
    else:
        # Create LQ45 directory if it doesn't exist
        os.makedirs(lq45_path, exist_ok=True)

In [20]:
ANTM_df = pd.read_csv("../datasets/LQ45/ANTM.csv")
ANTM_df.isnull().sum()

timestamp    0
open         0
low          0
high         0
close        0
volume       0
Code         0
dtype: int64

# Add LQ45 Index as overall stock data

In [ ]:
file_path = '../datasets/Index/index-lq45.csv'
index_data = pd.read_csv(file_path)
index_data = index_data[index_data['Code'].isin(lq45_codes)]
index_data = index_data.reset_index(drop=True)
index_data.to_csv(file_path, index=False)

In [36]:
env = Path(os.getcwd()).parent.absolute()
load_dotenv(env)

True

In [65]:
df = pd.read_csv('../datasets/LQ45/AALI.csv')
last_timestamp = df['timestamp'].iloc[-1]
last_timestamp

'2023-01-06'

In [61]:
tv = tvd.TvDatafeed('USERNAME', 'PASSWORD')
stock_data = tv.get_hist(symbol='LQ45', exchange='IDX', interval=tvd.Interval.in_daily, n_bars=5000)
stock_data

ERROR:tvDatafeed.main:error while signin
WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

,symbol,open,high,low,close,volume
datetime,,,,,,
2005-06-30 09:00:00,IDX:LQ45,248.56300,248.57401,246.57001,246.57001,0.0
2005-07-01 09:00:00,IDX:LQ45,246.46500,251.19200,246.46500,251.19200,0.0
2005-07-04 09:00:00,IDX:LQ45,250.72501,251.74800,248.50301,251.27000,0.0
2005-07-05 09:00:00,IDX:LQ45,251.51801,252.31100,248.54300,249.14799,0.0
2005-07-07 09:00:00,IDX:LQ45,245.28799,245.28799,242.10699,243.75200,0.0
...,...,...,...,...,...,...
2024-11-07 09:00:00,IDX:LQ45,899.34100,902.04500,887.00200,887.00200,0.0
2024-11-08 09:00:00,IDX:LQ45,891.56300,895.32600,883.07800,884.14400,0.0
2024-11-11 09:00:00,IDX:LQ45,878.54500,885.94300,866.23600,879.11000,0.0
2024-11-12 09:00:00,IDX:LQ45,880.17600,887.88600,876.69000,884.52200,0.0
2024-11-13 09:00:00,IDX:LQ45,888.74600,895.48200,885.35900,886.45800,0.0

In [ ]:
stock_data = stock_data[stock_data.index <= last_timestamp + ' 09:00:00']
stock_data = stock_data.reset_index()
stock_data = stock_data.rename(columns={'datetime': 'timestamp'})
stock_data['Code'] = 'LQ45'
stock_data

,timestamp,symbol,open,high,low,close,volume,Code
0,2005-06-30 09:00:00,IDX:LQ45,248.56300,248.57401,246.57001,246.57001,0.0,LQ45
1,2005-07-01 09:00:00,IDX:LQ45,246.46500,251.19200,246.46500,251.19200,0.0,LQ45
2,2005-07-04 09:00:00,IDX:LQ45,250.72501,251.74800,248.50301,251.27000,0.0,LQ45
3,2005-07-05 09:00:00,IDX:LQ45,251.51801,252.31100,248.54300,249.14799,0.0,LQ45
4,2005-07-07 09:00:00,IDX:LQ45,245.28799,245.28799,242.10699,243.75200,0.0,LQ45
...,...,...,...,...,...,...,...,...
4238,2023-01-02 09:00:00,IDX:LQ45,935.30499,936.52600,929.76801,935.08002,0.0,LQ45
4239,2023-01-03 09:00:00,IDX:LQ45,933.06702,945.03400,931.77698,940.45599,0.0,LQ45
4240,2023-01-04 09:00:00,IDX:LQ45,940.84900,941.87598,928.53198,928.53198,0.0,LQ45
4241,2023-01-05 09:00:00,IDX:LQ45,926.88000,928.20099,902.97601,909.65997,0.0,LQ45
4242,2023-01-06 09:00:00,IDX:LQ45,902.07098,913.97998,899.61200,913.02197,0.0,LQ45

In [85]:
stock_data.to_csv('../datasets/LQ45/LQ45.csv', index=False)

## Manipulate LQ45 data

In [3]:
lq45_df = pd.read_csv("../datasets/LQ45/LQ45.csv")
lq45_df

       timestamp  open  high  low  close  volume  Code
0     2005-06-30   249   249  247    247     0.0  LQ45
1     2005-07-01   246   251  246    251     0.0  LQ45
2     2005-07-04   251   252  249    251     0.0  LQ45
3     2005-07-05   252   252  249    249     0.0  LQ45
4     2005-07-07   245   245  242    244     0.0  LQ45
...          ...   ...   ...  ...    ...     ...   ...
4238  2023-01-02   935   937  930    935     0.0  LQ45
4239  2023-01-03   933   945  932    940     0.0  LQ45
4240  2023-01-04   941   942  929    929     0.0  LQ45
4241  2023-01-05   927   928  903    910     0.0  LQ45
4242  2023-01-06   902   914  900    913     0.0  LQ45

[4243 rows x 7 columns]

In [4]:
# Remove timestamp time and keep only date
lq45_df['timestamp'] = pd.to_datetime(lq45_df['timestamp']).dt.date

# # Drop the 'symbol' column
# lq45_df = lq45_df.drop(columns=['symbol'])

In [5]:
# Round the 'open', 'high', 'low', and 'close' columns to 2 decimal places
columns_to_round = ['open', 'high', 'low', 'close']
lq45_df[columns_to_round] = lq45_df[columns_to_round].round(0).astype(int)
lq45_df

       timestamp  open  high  low  close  volume  Code
0     2005-06-30   249   249  247    247     0.0  LQ45
1     2005-07-01   246   251  246    251     0.0  LQ45
2     2005-07-04   251   252  249    251     0.0  LQ45
3     2005-07-05   252   252  249    249     0.0  LQ45
4     2005-07-07   245   245  242    244     0.0  LQ45
...          ...   ...   ...  ...    ...     ...   ...
4238  2023-01-02   935   937  930    935     0.0  LQ45
4239  2023-01-03   933   945  932    940     0.0  LQ45
4240  2023-01-04   941   942  929    929     0.0  LQ45
4241  2023-01-05   927   928  903    910     0.0  LQ45
4242  2023-01-06   902   914  900    913     0.0  LQ45

[4243 rows x 7 columns]

In [6]:
lq45_df.to_csv('../datasets/LQ45/LQ45.csv', index=False)

In [8]:
index_lq45 = pd.read_csv("../datasets/index/index-lq45.csv")
index_lq45

,Code,Name,ListingDate,Shares,ListingBoard,Sector,LastPrice,MarketCap,MinutesFirstAdded,MinutesLastUpdated,HourlyFirstAdded,HourlyLastUpdated,DailyFirstAdded,DailyLastUpdated
0,AALI,Astra Agro Lestari Tbk.,1997-12-09,1.924688e+09,Utama,Consumer Non-Cyclicals,8000.0,1.539751e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
1,ADHI,Adhi Karya (Persero) Tbk.,2004-03-18,3.560849e+09,Utama,Infrastructures,452.0,1.609504e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2004-03-18,2023-01-06
2,ADMR,Adaro Minerals Indonesia Tbk.,2022-01-03,4.088233e+10,Pengembangan,Energy,1560.0,6.377644e+13,2022-01-03 09:00:00,2023-01-06 15:59:00,2022-01-03 09:00:00,2023-01-06 15:00:00,2022-01-03,2023-01-06
3,ADRO,Adaro Energy Indonesia Tbk.,2008-07-16,3.198596e+10,Utama,Energy,3140.0,1.004359e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2008-07-16,2023-01-06
4,AKRA,AKR Corporindo Tbk.,1994-10-03,2.007347e+10,Utama,Energy,1270.0,2.549331e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
5,ANTM,Aneka Tambang Tbk.,1997-11-27,2.403076e+10,Utama,Basic Materials,1985.0,4.770107e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
6,ASII,Astra International Tbk.,1990-04-04,4.048355e+10,Utama,Industrials,5450.0,2.206354e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
7,ASRI,Alam Sutera Realty Tbk.,2007-12-18,1.964941e+10,Utama,Properties & Real Estate,153.0,3.006360e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2007-12-18,2023-01-06
8,BBCA,Bank Central Asia Tbk.,2000-05-31,1.220423e+11,Utama,Financials,8300.0,1.012951e+15,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
9,BBNI,Bank Negara Indonesia (Persero,1996-11-25,1.846217e+10,Utama,Financials,8900.0,1.643133e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
10,BBRI,Bank Rakyat Indonesia (Persero,2003-11-10,1.500434e+11,Utama,Financials,4620.0,6.932006e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2003-11-10,2023-01-06
11,BBTN,Bank Tabungan Negara (Persero),2009-12-17,1.048410e+10,Utama,Financials,1340.0,1.404869e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2009-12-17,2023-01-06
12,BMRI,Bank Mandiri (Persero) Tbk.,2003-07-14,4.620000e+10,Utama,Financials,9800.0,4.527600e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2003-07-14,2023-01-06
13,BMTR,Global Mediacom Tbk.,1995-07-17,1.658400e+10,Utama,Industrials,268.0,4.444511e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
14,BSDE,Bumi Serpong Damai Tbk.,2008-06-06,2.117137e+10,Utama,Properties & Real Estate,905.0,1.916009e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2008-06-06,2023-01-06
15,CPIN,Charoen Pokphand Indonesia Tbk,1991-03-18,1.639800e+10,Utama,Consumer Non-Cyclicals,6000.0,9.838800e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
16,GGRM,Gudang Garam Tbk.,1990-08-27,1.924088e+09,Utama,Consumer Non-Cyclicals,17775.0,3.420066e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
17,HMSP,H.M. Sampoerna Tbk.,1990-08-15,1.163181e+11,Utama,Consumer Non-Cyclicals,840.0,9.770718e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
18,ICBP,Indofood CBP Sukses Makmur Tbk,2010-10-07,1.166191e+10,Utama,Consumer Non-Cyclicals,10175.0,1.186599e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2010-10-07,2023-01-06
19,INCO,Vale Indonesia Tbk.,1990-05-16,9.936339e+09,Utama,Basic Materials,7350.0,7.303209e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
20,INDF,Indofood Sukses Makmur Tbk.,1994-07-14,8.780426e+09,Utama,Consumer Non-Cyclicals,6950.0,6.102396e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
21,INTP,Indocement Tunggal Prakarsa Tb,1989-12-05,3.681232e+09,Utama,Basic Materials,10050.0,3.699638e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
22,JSMR,Jasa Marga (Persero) Tbk.,2007-11-12,7.257871e+09,Utama,Infrastructures,3050.0,2.213651e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2007-11-12,2023-01-06
23,KLBF,Kalbe Farma Tbk.,1991-07-30,4.687512e+10,Utama,Healthcare,2050.0,9.609400e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
24,LPKR,Lippo Karawaci Tbk.,1996-06-28,7.089802e+10,Utama,Properties & Real Estate,77.0,5.459147e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
25,LPPF,Matahari Department Store Tbk.,1989-10-09,2.626149e+09,Utama,Consumer Cyclicals,4220.0,1.108235e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
26,LSIP,PP London Sumatra Indonesia Tb,1996-07-05,6.822864e+09,Utama,Consumer Non-Cyclicals,1015.0,6.925207e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
27,MNCN,Media Nusantara Citra Tbk.,2007-06-22,1.504979e+10,Utama,Consumer Cyclicals,725.0,1.091110e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2007-06-22,2023-01-06
28,MPPA,Matahari Putra Prima Tbk.,1992-12-21,8.477735e+09,Utama,Consumer Non-Cyclicals,123.0,1.042761e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
29,MYRX,Hanson International Tbk.,1990-10-31,8.670322e+10,Pengembangan,Properties & Real Estate,50.0,4.335161e+12,NaN,NaN,NaN,NaN,2001-04-16,2023-01-06
30,PGAS,Perusahaan Gas Negara Tbk.,2003-12-15,2.424151e+10,Utama,Energy,1585.0,3.842279e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2003-12-15,2023-01-06
31,PTBA,Bukit Asam Tbk.,2002-12-23,1.152066e+10,Utama,Energy,3430.0,3.951586e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2002-12-23,2023-01-06
32,PTPP,PP (Persero) Tbk.,2010-02-09,6.199897e+09,Utama,Infrastructures,695.0,4.308929e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2010-02-09,2023-01-06
33,PWON,Pakuwon Jati Tbk.,1989-10-09,4.815960e+10,Utama,Properties & Real Estate,448.0,2.157550e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
34,SCMA,Surya Citra Media Tbk.,2002-07-16,7.397057e+10,Utama,Consumer Cyclicals,206.0,1.523794e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2002-07-16,2023-01-06
35,SILO,Siloam International Hospitals,2013-09-12,1.300612e+10,Utama,Healthcare,1275.0,1.658281e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2013-09-12,2023-01-06
36,SMGR,Semen Indonesia (Persero) Tbk.,1991-07-08,5.931520e+09,Utama,Basic Materials,7075.0,4.196550e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
37,SMRA,Summarecon Agung Tbk.,1990-05-07,1.650857e+10,Utama,Properties & Real Estate,560.0,9.244798e+12,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
38,SRIL,Sri Rejeki Isman Tbk.,2013-06-17,2.045218e+10,Utama,Consumer Cyclicals,146.0,2.986018e+12,NaN,NaN,2020-04-16 09:00:00,2022-04-15 16:00:00,2013-06-17,2023-01-06
39,SSMS,Sawit Sumbermas Sarana Tbk.,2013-12-12,9.525000e+09,Utama,Consumer Non-Cyclicals,1510.0,1.438275e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2013-12-12,2023-01-06
40,TBIG,Tower Bersama Infrastructure T,2010-10-26,2.265700e+10,Utama,Infrastructures,2130.0,4.825941e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2010-10-26,2023-01-06
41,TLKM,Telkom Indonesia (Persero) Tbk,1995-11-14,9.906222e+10,Utama,Infrastructures,3710.0,3.675208e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
42,UNTR,United Tractors Tbk.,1989-09-19,3.730135e+09,Utama,Industrials,24975.0,9.316013e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
43,UNVR,Unilever Indonesia Tbk.,1982-01-11,3.815000e+10,Utama,Consumer Non-Cyclicals,4760.0,1.815940e+14,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2001-04-16,2023-01-06
44,WSKT,Waskita Karya (Persero) Tbk.,2012-12-19,2.880681e+10,Utama,Infrastructures,350.0,1.008238e+13,2021-11-01 09:00:00,2023-01-06 15:59:00,2020-04-16 09:00:00,2023-01-06 15:00:00,2012-12-19,2023-01-06