# Add code field to each stock data & Trimming IHSG to LQ45

In [1]:
import pandas as pd
import os
import shutil

In [2]:
# List of LQ45 stock codes
lq45_codes = ["ADMR", "SMRA", "AALI", "ADHI", "ADRO", "AKRA", "ANTM", "ASII", "ASRI",
               "BBCA", "BBNI", "BBRI", "BBTN", "BMRI", "BMTR", "BSDE", "CPIN", "GGRM",
               "HMSP", "ICBP", "INCO", "INDF", "INTP", "JSMR", "KLBF", "LPKR", "LPPF",
               "LSIP", "MNCN", "MPPA", "MYRX", "PGAS", "PTBA", "PTPP", "PWON", "SCMA",
               "SILO", "SMGR", "SRIL", "SSMS", "TBIG", "TLKM", "UNTR", "UNVR", "WSKT"]

In [3]:
# Directory where your CSV files are stored
directory = "../datasets/IHSG"
lq45_path = "../datasets/LQ45"

# Loop through each stock code
for code in lq45_codes:
    file_path = os.path.join(directory, f"{code}.csv")
    
    if os.path.exists(lq45_path):
        # Check if the file exists
        if os.path.exists(file_path):
            # Read CSV file
            df = pd.read_csv(file_path)
            
            # Add "Code" column
            df["Code"] = code
            
            # Copy the file to the LQ45 folder
            shutil.copy(file_path, os.path.join(lq45_path, f"{code}.csv"))
        else:
            print(f"{code}.csv not found.")
    else:
        # Create LQ45 directory if it doesn't exist
        os.makedirs(lq45_path, exist_ok=True)

In [4]:
df

       timestamp  open  low  high  close     volume  Code
0     2012-12-19   433  409   477    433  806726963  WSKT
1     2012-12-20   419  419   438    419   74211994  WSKT
2     2012-12-21   414  409   428    414   44889749  WSKT
3     2012-12-24   414  409   428    414          0  WSKT
4     2012-12-25   414  409   428    414          0  WSKT
...          ...   ...  ...   ...    ...        ...   ...
2618  2023-01-02   362  360   374    364   14576300  WSKT
2619  2023-01-03   364  364   374    372   12983800  WSKT
2620  2023-01-04   372  372   386    374   28842100  WSKT
2621  2023-01-05   376  354   378    356   19788500  WSKT
2622  2023-01-06   358  350   364    350   26146600  WSKT

[2623 rows x 7 columns]